body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

.top-part {
    background-image: url(images/donation13.jpg);
    padding-bottom: 20%;
    background-repeat: no-repeat;
    background-size: 100%;
    height: 350px;
}

.top-h1 {
    font-size: 70px;
    margin-bottom: -10px;
}

.first-text {
    color: white;
    text-align: center;
    padding-top: 100px;
}

.first-p {
    font-size: 19px;
}

.button {
    text-decoration: none;
    color: white;
    background-image: linear-gradient(tomato, tomato);
    border-radius: 5px;
    padding: 15px 20px;
    font-weight: 700;
    font-size: 20px;
}











.donate {
    text-align: center;

}

.donate-p {
    font-size: 30px;
    color: rgb(92, 87, 87);
    padding-bottom: 50px;
}

.donate-h1 {
    font-size: 40px;
    font-weight: 1000px;
    margin-top: 100px;
}

.donate-button {
    padding-bottom: 100px;
}

.button-decoration {
    border: 1px solid white;
    padding: 40px 15px;
    text-decoration: none;
    background-color: rgb(250, 244, 244);
    color: rgb(97, 93, 93);
    font-size: 40px;
    margin: 0 5px;
    border-radius: 7px;
}

#two {
    border-color: rgb(250, 67, 67);
    background-color: rgb(253, 227, 227);
    border-width: 2px;
    color: rgb(250, 67, 67);
}

.donate-input {
    border: none;
    border-bottom: 2px solid rgb(230, 226, 226);
    width: 60%;
    text-align: center;
    text-decoration: rgb(197, 40, 40);
    font-size: 20px;
    margin-bottom: 20px;
}

::placeholder {
    color: rgb(188, 192, 192);
}









#donate-plan-h1 {
    font-size: 40px;
}

#donate-plan-p {
    color: rgb(104, 101, 101);
    font-size: 20px;
}

.flexible-container {
    display: flex;
    width: 80%;
    padding-left: 150px;
    margin-top: 70px;
}

.donate-plan {
    text-align: center;
    margin-top: 100px;
}

.food {
    background-color: rgb(204, 245, 253);
    text-align: left;
    padding: 40px 15px;
    width: 30%;
}

.shelter {
    background-color: rgb(250, 229, 229);
    text-align: left;
    padding: 40px 15px;
    width: 30%;
    margin-left: 20px;
}

.education {
    background-color: rgb(253, 232, 220);
    text-align: left;
    padding: 40px 15px;
    width: 30%;
    margin-left: 20px;
}









.extra-one {
    margin-top: 150px;
}

.ex-one {
    display: flex;
    margin-left: 10%;

}

.half-width {
    width: 50%;
}

.half-width img {
    width: 70%;
    padding-left: 50px;
    padding-top: 30px;
}

#ex-one-p {
    padding-bottom: 40px;
    padding-top: 10px;
    font-size: 18px;
}

#ex-one-h1 {
    font-size: 30px;
}









.extra-two {
    margin-top: 150px;
}

.ex-two {
    display: flex;
    margin-left: 10%;
}

#ex-two-p {
    padding-bottom: 40px;
    padding-top: 10px;
    font-size: 18px;
}

#ex-two-h1 {
    font-size: 30px;
}

#ex-two-text {
    padding-right: 70px;
}

#half-width-img img {
    height: 270px;
}




.previous {
    text-align: center;
    margin-top: 150px;
}

.previous-h1 {
    font-size: 30px;
}

.previous-p {
    font-size: 23px;
}


.previous-work {
    display: flex;
    margin-left: 70px;
    margin-right: 70px;
}

.p-one {
    padding-right: 30px;
    width: 20%;
    text-align: justify;
}


.p-two {
    padding-left: 100px;
    width: 20%;
    text-align: justify;
}

.p-three {
    padding-left: 120px;
    width: 20%;
    text-align: justify;
}

.p-four {
    padding-left: 130px;
    width: 20%;
    text-align: justify;
}












.update {
    text-align: center;
    margin-top: 150px;
}

.update-input {
    text-decoration: none;
    color: white;
    background-image: linear-gradient(rgb(247, 236, 234), rgb(245, 230, 228));
    border-radius: 5px;
    padding: 15px 20px;
    font-weight: 700;
    font-size: 20px;

}

.up {
    display: flex;
    margin-left: 75px;

}

.up-bg {
    background-image: linear-gradient(rgb(255, 215, 242), rgb(255, 223, 255));
    padding: 70px 30px;
    margin-left: 350px;
    margin-right: 350px;
    border-radius: 5px;
}

.update-h1 {
    font-size: 50px;
}

.update-p {
    font-size: 20px;
    padding-bottom: 30px;
}




footer {
    background-color: black;
    color: white;
    padding-bottom: 30px;
    margin-top: 100px;
    text-align: center;
}

.foot-h3 {
    padding-top: 50px;
    color: brown;
    font-size: 30px;
    font-style: italic;
}

.foot-p {
    font-size: 15px;
}